<h3>How it works</h3>

<p>
    Our affiliate program rewards you for sharing <%= Spree::Config[:site_name] %> with your web site's visitors.
    We add <%=  Spree::Config[:referal_incentive] %>% of every sale you help us acquire to your affiliate account balance.
    Once your balances reaches $<%=  Spree::Config[:claimable_amount] %> you can request your money and we send it to you.
</p>
<p>
    To get started, put your affiliate link somewhere on your site.
    Anyone who follows your link to our site will be assigned a cookie that's valid for <%=  Spree::Config[:cookie_life_span] %> days.
    If they place an order within that <%=  Spree::Config[:cookie_life_span] %> day period,
    then we add <%=  Spree::Config[:referal_incentive] %>% of the sale to your affiliate account balance.
</p>

<h3>Payment details</h3>

<p>
    Once your affiliate balance reaches $<%=  Spree::Config[:claimable_amount] %> we add a link to your My Account page
    that says "Redeem my balance." Click this link and we'll transfer your full balance to you.
</p>

<h3>Why you'll love our affiliate program.</h3>
<span class="subheading"><%=  Spree::Config[:cookie_life_span] %>-day cookie</span>
<p>Our cookies last <%=  Spree::Config[:cookie_life_span] %> days. That means you get credit for
    anyone who follows your affiliate link and purchases within <%=  Spree::Config[:cookie_life_span] %> days.
    Unlike most cookies, they're also 100% trans fat free.
</p>

<span class="subheading"><%=  Spree::Config[:referal_incentive] %>% commission</span>
<p>
<%=  Spree::Config[:referal_incentive] %>% of every order you help us acquire is automatically added to your affiliate account.
</p>
